{% load static %}
<header class="header section-wrapper">
  <div class="section-content-wide">
    <div class="section-gap">
      <h1 class="blog-title center pb-base"><a class="blog-link" href="/">{{site_setup.title}}</a></h1>

      {% if site_setup.show_description %}
        <p class="blog-description pb-base center">{{site_setup.description}}</p>
      {% endif %}

      {% if site_setup.show_search %}
        <div class="search pb-base center">
          {% include 'blog/partials/_search.html' %}
        </div>
      {% endif %}

      <input id="closemenu" class="closemenu" type="checkbox" aria-label="close menu" role="button" aria-pressed="true" />
      <label class="closemenulabel" for="closemenu"></label>

      <div class="menu">
        <div class="menucontent">
          <h1 class="menu-blog-title center pb-base"><a class="blog-link" href="/">{{site_setup.title}}</a></h1>

          {% if site_setup.show_description %}
            <p class="menu-blog-description pb-base center">{{site_setup.description}}</p>
          {% endif %}

          {% if site_setup.show_search %}
            <div class="menu-search pb-base center">
              {% include 'blog/partials/_search.html' %}
            </div>
          {% endif %}
          <nav>
            <ul class="menu-items" onclick="getElementById('closemenu').checked=false;">
              {% for link in site_setup.menulink_set.all %}
                <li class="menu-item">
                  {% if link.new_tab %}
                  <a class="menu-link" target="_blank" href="{{link.url_or_path}}">{{link.text}}</a>
                  {% else %}
                    <a class="menu-link" href="{{link.url_or_path}}">{{link.text}}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'blog/js/open_menu.js' %}"></script>
</header>
