{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if posts %}
        <div class="card-grid">
          {% for post in posts %}
            {% include 'blog/partials/_post_card.html' with i=forloop.counter0 %}
          {% endfor %}
        </div>
        {% else %}
        <div class="center">
          <h2>Nothing found here 😔</h2>
          <p>We couldn't find any information on that link. You can return to the <a href="{% url 'blog:index' %}">homepage here!</a>
          </p>
        </div>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock content %}
